
body{	
background: #db0d44;
margin:0;	
}

.intro{
	font-family: Caprica Sans;
	font-size: 80px;
	margin: 95px;
	padding: 39px;
	text-align: center;
	color: #ffffff;


}

#row{
display: block;
text-align: center; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #919091;
}

.active {
  background-color: #FF01B2;
}
.btn{
	background-color: #ddd;
	border: none;
	color: black;
	padding: 20px 36px;
	text-align: center;
	font-size: 16px;
	margin: 4px 2px;
	transition: 0.7s ease;
}
.btn:hover{
	background-color: #000000;
	color: white;
}
#aboutmet{
	text-align: center;
	font-size: 40px;
	font-family: Century Gothic;
}
.aboutme{
	display: inline-block;
	text-align: center;
	font-family: Century Gothic;
	font-size: 30px;
	padding-bottom: 
}
#all{
	background-color: #ffffff;
	margin-top: 350px;
	padding: 20px;
}
.footer{
	position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #999999;
   color: white;
   text-align: center;
}
#books{
	
}
