
body{
	

}

p{
	font-family: Caprica Sans;
	font-size: 80px;
	margin: 39px;
	padding: 39px;
	text-align: center;
}



#row{
display: block;
text-align: center; 
}

#AboutMe{
	padding:20px;
	margin: 20px;
	font-family: Arial;
	font-size: 18px;
}

