body{ 
background: #FEC1E3;
margin:0; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #919091;
}

.active {
  background-color: #FF01B2;
}
.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 20px 36px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.7s ease;
}
.button:hover{
    background-color: #000000;
  color: white;
}
#row{
  display: block;
text-align: center; 
}
.A1{
  text-align: center;
  
}
#As1{
   background-color: #ddd;
  border: none;
  color: black;
  padding: 20px 36px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.7s ease;
}
#As1:hover{
      background-color: #000000;
  color: white;
}